nav { 
    margin-bottom: 20px;
}
body {
    background-image: url("/pictures/smile.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    ;
}

.row {
    color: rgb(7, 7, 7);
}
.col-8 { 
    background-image: url("/pictures/white background.jpg");
    border: black;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
#king { 
    width: 150px;
    height: 150px;
    float: left;
    margin: 0 10px 10px 0;
}
.headerbar {
    display: block;
    border-width: 20px;
    background-color: darkblue;
    border-color: black;
    border-top: 20px;
    width: 20px;
}
.footerinfo  {
    position: fixed;
    bottom:0;
    background-color: rgb(255, 240, 28);
    width: 100%;
    height: 25px;
    width: 100%;
    margin: 100% 0 0 0;
}
.footer2    {
    position: fixed;
    bottom:0;
    background-color: rgb(37, 23, 1);
    width: 100%;
    height: 30px;
    width: 100%;
    margin: 100% 0 0 0;
}

h1 {
    text-align: center;
    color: rgb(233, 238, 165);
}